*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
    color: #24b0ba;
}
form{
    padding: 20px;
   
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.row

{
    display: flex;
    gap: 20px;
    width: 100%;
    
    
}
label,input,select
{
    width: 300px;
    outline: none;
}
input,select
{
    padding: 10px;
}
.form-group
{
    display: flex;
    flex-direction: column;
    
}
label
{
    color: #225b64;
    font-weight: bold;
}
.container
{
    display: flex;
    height: 600px;
    border: 2px solid  #24b0ba;
    width: 75%;
    
}
.image img
{
    height: 100%;
    width: 100%;
}
body
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
button
{
   
  
    width: 200px;
   height: 50px;
    background-color: #24b0ba;
    color: white;
    border: none;
    cursor: pointer;
    font-size:medium;
    border-radius: 10px;

    
}
button:hover
{
    box-shadow: 0 0 20px #24b0ba;
}
button:active
{
    transform: scale(0.9);
}